.card{
    color: #222222;
    /* background: lightgrey;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; */

    /* New Technique */
    /* padding: 50px;
    border: 2.4px solid limegreen;
    border-radius: 25px; */
}

button{
    width: 150px;
    border: 1.5px solid #cfd9de;
    border-radius: 25px;
    color: #0f1419;
    font-weight: bolder;
    background: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}