body{
    /* My Version */
    background: salmon;
    /* color: blanchedalmond; */
    /* font-size: 35px; */
    /* font-weight: bold; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    border: 2.5px solid grey;
    color: black;
    font-size: 37px;
    font-weight: bold; */
}

/* Challenge 2: The Cookie Banner Illusion */
/* p{
    background-color: beige;
    border-radius: 25px;
    border: 2.5px solid grey;
    color: black;
    font-size: 37px;
    font-weight: bold;
} */

body {
    background: lightgrey;    /* neutral */
    color: darkred;           /* alert */
    font-size: 30px;            /* banner-sized text */
    font-weight: bold;          /* authoritative */
    text-align: center;         /* banner vibes */
    margin-top: 50px;           /* floating from top like a notification */
    font-family: system-ui;     /* optional clean look */
}
