div{
    text-align: center;
    color: antiquewhite;
    margin: 6px;
    padding: 20px 5px;
    background: #e5383b;
    font-size: 35px;
    font-weight: 800;
    cursor: pointer;
}

div:hover{
    cursor: pointer;
    background: #ba181b;
    border: 3px solid #fffff4;
    border-radius: 25px;
    font-family: cursive;
}