h1{
    text-align: center;
    color: #121212;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 4px solid #121212;
    border-radius: 15px;
}

p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
}

input{
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #121212;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

button{
display: block;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #121212;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 222px;
    color: whitesmoke;
    background: #121212;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}