body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 700  ;
}

.card-business{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;
    border-radius: 25px;
}

.prof-image{
    width: 150px;
}

/* .border-blue{
    border: 2px dotted rgb(78, 78, 175);
    padding: 10px;
} */
