body{
    letter-spacing: 4px;
    background: whitesmoke;
    color: #fafbf4;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

h1{
    font-size: 200px;
    font-size: 800;
    text-shadow: 0px 0px 4px black;
    text-decoration: underline;
}