body {
    color: #82a5ca;
    margin: 0 auto;
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
}

.hero-section{
    background-image: url('images/200.webp');
    padding: 30px;
}

.hero-section h1{
    text-shadow: 0px 0px 4px black;
}

.btn {
    font-weight: inherit;
    font-weight: 800;
    font-size: 20px;
    padding: 6px 12px;
    background: white;
    border: 3px solid #82a5ca;
    font-weight: 800;
    color: #82a5ca;
    border-radius: 15px;
}

#exploration{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: whitesmoke;
    text-decoration-style: solid;
}

