body{
    font-family: "Happy Monkey", cursive;
    margin: 0 auto;
    color: #ffffff;
    background: #a2d2ff;
    text-align: center;
}

h1,h2,h4, p{
    text-shadow: 1.5px 2px 1px black;
}

#bday-age, #bday-date{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 4px;
}

#hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}