body{
    background-image: url("michal-parzuchowski-dmH3NWhYTHQ-unsplash.jpg");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-align: center;
}

h1{
    margin: 10px 10px;
}

h2{
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 20px;
}

button{
    border: none;
    padding: 10px 0;
    color: white;
    font-weight: 800;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn{
    background: darkred;
}

#save-btn{
    background: darkgreen;
}